pandas~=2.2.3
numpy~=2.1.3
requests~=2.32.3
pytz~=2025.2
scikit-learn~=1.6.1
joblib~=1.4.2
python-dotenv~=1.1.0
matplotlib
pydrive2~=1.21.3
python-dotenv
pytest
pytz
openmeteo-requests
requests_cache
retry_requests
seaborn
tensorflow~=2.19.0
